{%  extends 'base.html' %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'app_servicios/css/estilos.css' %}" rel="stylesheet">


    <title>Document</title>
</head>
<body>

    {% block contenidos %}

{% for servicio in servicios %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 40%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4 " >
            <span class="section-heading-lower">{{servicio.titulo}}</span>
            <span class="section-heading-Upper">{{servicio.contenido}}</span>
          </h2>
        </div>
      </div>
    </div>
  </section>


{% endfor %}


{% endblock %}
    
</body>
</html>